Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/rebuild_rdns_cache/index.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('APP_KEY','rebuild_rdns_cache');$stash->set('PAGE_BASE','/scripts7/rebuild_rdns_cache');$output .= do {my$output='';$output .= '

<div id="content">

    <div class="row">
        <div class="col-md-8">

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">';$output .= $stash->get(['locale',0,'maketext',['Result' ]]);$output .= '</th>
                        <th>';$output .= $stash->get(['locale',0,'maketext',['Errors' ]]);$output .= '</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="';$output .= $stash->get(['data',0,'dns_cache',0])? 'success' : 'danger';$output .= '">
                        <td>';$output .= $stash->get(['locale',0,'maketext',['Updating the reverse [output,abbr,DNS,Domain Name System] cache …' ]]);$output .= '</td>
                        <td  class="text-center">
                            ';if ($stash->get(['data',0,'dns_cache',0])){$output .= '
                                <i class="fas fa-check" aria="hidden"></i>
                                <span class="sr-only">';$output .= $stash->get(['locale',0,'maketext',['Success' ]]);$output .= '</span>
                            '}else {$output .= '
                                <i class="fas fa-times" aria="hidden"></i>
                                <span class="sr-only">';$output .= $stash->get(['locale',0,'maketext',['Failed' ]]);$output .= '</span>
                            '}$output .= '
                        </td>
                        <td>';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'errors',0,'dns_cache',0]);&$_tt_filter($output)};$output .= '</td>
                    </tr>
                    <tr class="';$output .= $stash->get(['data',0,'updating_helo',0])? 'success' : 'danger';$output .= '">
                        <td>';$output .= $stash->get(['locale',0,'maketext',['Updating user domains for mail [asis,HELO] …' ]]);$output .= '</td>
                        <td  class="text-center">
                            ';if ($stash->get(['data',0,'updating_helo',0])){$output .= '
                                <i class="fas fa-check" aria="hidden"></i>
                                <span class="sr-only">';$output .= $stash->get(['locale',0,'maketext',['Success' ]]);$output .= '</span>
                            '}else {$output .= '
                                <i class="fas fa-times" aria="hidden"></i>
                                <span class="sr-only">';$output .= $stash->get(['locale',0,'maketext',['Failed' ]]);$output .= '</span>
                            '}$output .= '
                        </td>
                        <td>';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'errors',0,'updating_helo',0]);&$_tt_filter($output)};$output .= '</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <span class="pull-right flip">
                <a href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/basic_exim_editor?in_tab=1&reload=1#tab_DomainsandIPs" class="btn btn-link">
                    ';if ($stash->get('locale_is_rtl')){$output .= '
                        <i class="fas fa-arrow-right" aria-hidden="true"></i>
                    '}else {$output .= '
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                    '}$output .= '
                    ';$output .= $stash->get(['locale',0,'maketext',['Go Back' ]]);$output .= '
                </a>
            </span>
        </div>
    </div>


</div>

';$context->include('master_templates/master.tmpl',{'inside_frame_or_tab_or_popup'=>1,'skipheader'=>1,'stylesheets'=>[],'base'=>($stash->get('PAGE_BASE').'/'),'theme'=>'bootstrap','CJT2_EXCLUSIVE'=>1,'app_key'=>$stash->get('APP_KEY'),'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});