Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Logger/Notify.subject.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if ($stash->get(['NOTICE',0,'subject',0])){$output .= '
  ';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['NOTICE',0,'subject',0]);&$_tt_filter($output)};$output .= '
'}else {$output .= '
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['“[_1]” called in “[_2]”','Cpanel::Logger::' .$stash->get(['NOTICE',0,'logger_call',0]),$stash->get(['NOTICE',0,'origin',0])]]);$output .= '
'}$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});