Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/upcp/UpdateNowFailed.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_block.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The [asis,cPanel] [output,amp] [asis,WHM] update process failed for the following reason:' ]]));$output .= '

<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The `[join, ,_1]` command failed and exited with the code “[_2]” (signal = [_3])',$stash->get(['NOTICE',0,'updatenow_args',0]),$stash->get(['NOTICE',0,'exit_code',0]),$stash->get(['NOTICE',0,'signal',0])]]);$output .= '
</p>
<p>
    ';$output .= $stash->get(['code_block',[{'formatted_code'=>$stash->get(['NOTICE',0,'log_preview',0,0,0]),'title'=>$stash->get(['CPANEL',0,'locale',0,'maketext',['Update log preview:' ]])}]]);$output .= '
</p>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});