Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/include/code_standout.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('code_standout',sub {my$_tt_params=$_[0]if ref($_[0])eq 'HASH';my$output='';my$stash=$context->localise($_tt_params);eval {$output .= '
    ';if (!$stash->get('content_width')){$output .= '
        ';$stash->set('code_standout_width',600);$output .= '
    '}elsif ($stash->get('in_list')){$output .= '
        ';$stash->set('code_standout_width',$stash->get('content_width')- 60);$output .= '
    '}else {$output .= '
        ';$stash->set('code_standout_width',$stash->get('content_width')- 20);$output .= '
    '}$output .= '
    ';if ($stash->get('command')){$output .= '
        <table style="margin: 5px 10px; padding:0;" width="';$output .= $stash->get('code_standout_width');$output .= 'px" cellpadding="0" cellspacing="0" >
            <tr>
                <td style="background:';$output .= $stash->get('light_gray');$output .= ';font-family:';$output .= $stash->get('mono_font_family');$output .= '; padding: 5px 10px 5px 10px; word-wrap: break-word; word-break: break-all;" align="left">
                    ';$output .= $stash->get('command');$output .= '
                </td>
            </tr>
        </table>
    '}$output .= '
'};$stash=$context->delocalise();die $@ if $@;return$output});$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});