Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/include/progress_bar.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('progress_bar',sub {my$_tt_params=$_[0]if ref($_[0])eq 'HASH';my$output='';my$stash=$context->localise($_tt_params);eval {$output .= '
    ';if ($stash->get('percent_full')){$output .= '
    <table style="border: 2px solid ';$output .= $stash->get('cpanel_dark_blue_gray');$output .= '; margin: 1px; padding:0;" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="background-color: ';$output .= $stash->get('cpanel_orange');$output .= '; color: white;" align="center" width="';$output .= $stash->get('percent_full');$output .= '%">
                ';$output .= $stash->get('percent_full');$output .= '%
            </td>
            <td style="background-color: ';$output .= $stash->get('white');$output .= ';" width="';$output .= 100 - $stash->get('percent_full');$output .= '%">
            </td>
        </tr>
    </table>
   '}$output .= '
'};$stash=$context->delocalise();die $@ if $@;return$output});$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});