Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/include/styles.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('font_family','\'Helvetica Neue\',Helvetica,Arial,sans-serif',1);$stash->set('mono_font_family','\'Courier New\', Courier, monospace',1);$stash->set('total_width',680,1);$stash->set('left_padding',15,1);$stash->set('right_padding',15,1);$stash->set('content_width',$stash->get('total_width')- $stash->get('left_padding')- $stash->get('right_padding'),1);$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});