Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/include/system_info_table.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '

';$output .= $context->process('include/system_info_rows.tmpl');$output .= $context->process('include/service_info_rows.tmpl');$output .= '
';$stash->set('system_info_table',sub {my$_tt_params=$_[0]if ref($_[0])eq 'HASH';my$output='';my$stash=$context->localise($_tt_params);eval {$output .= '
    ';$stash->set('system_info_table_zebra',0);$output .= '
    <table style="
        margin: 5px 10px;
        border: 2px solid ';$output .= $stash->get('medium_gray');$output .= ';
        padding: 0;"
        cellpadding="5" cellspacing="0"
        width="';$output .= $stash->get('content_width')- 20;$output .= 'px">
        <tbody>
           ';$output .= $stash->get('service_info_rows');$output .= '
           ';$output .= $stash->get('system_info_rows');$output .= '
        </tbody>
    </table>
'};$stash=$context->delocalise();die $@ if $@;return$output});$output .= '

'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});