Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/api_tokens/index.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('stylesheet_includes',[$stash->get(['Whostmgr',0,'find_file_url',['/templates/api_tokens/index.css' ]])]);if ($stash->get(['locale',0,'get_html_dir_attr',0])eq 'rtl'){$output .= $stash->get(['stylesheet_includes',0,'unshift',[$stash->get(['Whostmgr',0,'find_file_url',['/styles/bootstrap_rtl_offsets.min.css' ]])]])}$stash->set('PAGE_BASE','/scripts7/apitokens/');$output .= do {my$output='';$output .= '
<div id="content"
    class="ng-cloak"
    ng-cloak>
    <p class="description">';$output .= $stash->get(['locale',0,'maketext',['[asis,API] tokens allow you to log in to your server without the need for a password. You can use an [asis,API] token to authenticate with [asis,WHM]’s remote [asis,API]. If you use a remote billing solution, you will need to set up an [asis,API] token on all of your [asis,cPanel amp() WHM] servers. For more information, read our [output,url,_1,documentation,target,_2].','//go.cpanel.net/ManageAPITokens','_blank' ]]);$output .= '</p>
    <div ng-view></div>
    <div growl></div>
</div>

<script type="text/ng-template" id="api_tokens/views/home.ptt">
';$output .= $context->process('api_tokens/views/home.ptt');$output .= '
</script>

<script type="text/ng-template" id="api_tokens/views/edit.ptt">
';$output .= $context->process('api_tokens/views/edit.ptt');$output .= '
</script>

<script type="text/ng-template" id="confirm_token_revocation.html">
';$output .= $context->process('api_tokens/views/confirm_revoke.ptt');$output .= '
</script>

';$output .= $context->process('master_templates/cjt2_header_include.tt');$output .= '
<script type="text/javascript">
    PAGE.is_dns_only = ';$output .= $stash->get(['JSON',0,'stringify',[$stash->get(['data',0,'is_dns_only',0])]]);$output .= ';
    PAGE.acl_metadata = ';$output .= $stash->get(['JSON',0,'stringify',[$stash->get(['data',0,'acl_metadata',0])]])|| '{}';$output .= ';
    PAGE.ordered_categories = ';$output .= $stash->get(['JSON',0,'stringify',[$stash->get(['data',0,'ordered_categories',0])]])|| '[]';$output .= ';
    PAGE.categories_metadata = ';$output .= $stash->get(['JSON',0,'stringify',[$stash->get(['data',0,'categories_metadata',0])]])|| '{}';$output .= ';
    PAGE.subcategories_metadata = ';$output .= $stash->get(['JSON',0,'stringify',[$stash->get(['data',0,'subcategories_metadata',0])]])|| '{}';$output .= ';
    PAGE.childAccountsExist = !!';$output .= $stash->get(['data',0,'child_accounts_exist',0])|| 0;$output .= ';
</script>
';$context->include('master_templates/master.tmpl',{'app_key'=>'api_tokens','header'=>$stash->get(['locale',0,'maketext',['Manage [asis,API] Tokens' ]]),'breadcrumburl'=>$stash->get('PAGE_BASE'),'base'=>$stash->get('PAGE_BASE'),'stylesheets'=>$stash->get('stylesheet_includes'),'CJT2_EXCLUSIVE'=>0,'theme'=>'bootstrap','content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});