Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Install/CheckRemoteMySQLVersion.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= do {my$output='';$output .= '<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The version of [asis,MySQL] on your remote [asis,MySQL] server, [_1], is no longer supported. You must upgrade to one of the following options:',$stash->get(['NOTICE',0,'current_version',0])]]);$output .= '
    <ul>
        <li>MySQL 5.6</li>
        <li>MySQL 5.7</li>
        <li>MariaDB 10.0</li>
        <li>MariaDB 10.1</li>
        <li>MariaDB 10.2</li>
        <li>MariaDB 10.3</li>
    </ul>
</p>
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['If you do not upgrade your remote server, you may experience failures with the [asis,cPanel] integration.' ]]);$output .= '</p>

';$context->include('wrapper/main.html.tmpl',{'',$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['You must upgrade the [asis,MySQL] version on your remote [asis,MySQL] server.' ]])),'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});