Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Mail/HourlyLimitExceeded.subject.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Hourly email send limit reached for “[_1]”.',$stash->get(['NOTICE',0,'domain',0])]])}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});