Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Mail/ReconfigureCalendars.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_block.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['Action required to continue using calendars on account “[_1]”.',$stash->get(['NOTICE',0,'account',0])]]));$output .= '

<p>';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['To continue using calendars on the account “[_1]”, you will need to reconfigure any calendar client(s) you have already connected to the server.',$stash->get(['NOTICE',0,'account',0])]]);$output .= '</p>
<p>';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['In your calendar or contacts client, remove the account, then re-add it. This will allow your previous calendar data to appear. [output,url,_1,Read more,target,_blank]','https://go.cpanel.net/reconfigureCalendarClients' ]]);$output .= '</p>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});