Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/base/frontend/jupiter/sql/PhpMyAdmin.html.tt',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set(['CPANEL',0,'CPVAR',0,'dprefix',0],'../');$output .= $stash->get(['Api1',0,'pre_exec',['Cgi','phpmyadminlink' ]]);$stash->set('phpMyadmin_url',$stash->get(['Api1',0,'exec',['Cgi','phpmyadminlink',[$stash->get('undef')]]]));$output .= $stash->get(['Api1',0,'post_exec',['Cgi','phpmyadminlink' ]]);$output .= '
';$output .= do {my$output='';$output .= '
<div class="body-content" id="divRedirect">
    ';$output .= $stash->get(['locale',0,'maketext',['The system will redirect you in a moment.' ]]);$output .= '
    ';$output .= $stash->get('update_privs');$output .= '
    <meta http-equiv="refresh" content="0;url=';$output .= $stash->get('phpMyadmin_url');$output .= '" />
</div>
';$context->include('_assets/master.html.tt',{'app_key'=>'php_my_admin','content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});