Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Mail/includes/clientconf_ios_mobileconfig_include.html.tt','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if ($stash->get(['mail_client_settings',0,'selected_device',0])eq 'apple'){$output .= '
<p>
 ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['A [asis,.mobileconfig] file for use with [asis,iOS] for [asis,iPhone]/[asis,iPad]/[asis,iPod] and [asis,MacOS® Mail.app®] for [asis,Mountain Lion (10.8+)] is attached to this message.' ]]);$output .= '
</p>
'}$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});