Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/mysqlhost/index.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('String',$context->plugin('String'));$stash->set('stylesheets',[$stash->get(['Whostmgr',0,'find_file_url',['/templates/mysqlhost/index.css' ]])]);$stash->set('PAGE_BASE','/scripts5/mysqlhostconfig/');$output .= do {my$output='';$output .= '
<div id="content"
     class="ng-cloak mysql-profiles-content"
     ng-cloak>
    <p>';$output .= $stash->get(['locale',0,'maketext',['This feature allows you to create and manage database profiles. A database profile defines the connection information for a local or remote database server. A remote database server can be useful for high-traffic hosts or servers with large databases because it allows you to offload database-related work.' ]]);$output .= '</p>
    <div class="callout callout-warning" id="mysql-manual-warning">
        ';$output .= $stash->get(['locale',0,'maketext',['After you configure the remote server, you must manually transfer your existing data and configure your accounts’ applications to use the remote database server.' ]]);$output .= '
    </div>
    <div ng-view></div>
    <div growl></div>
</div>

<script type="text/javascript">
    var PAGE = {
        "security_token": ';$output .= $stash->get(['cp_security_token',0,'json',0]);$output .= ',
        key_list: ';$output .= $stash->get(['data',0,'key_list',0,'json',0]);$output .= '
    };
</script>

';$output .= $context->process('master_templates/cjt2_header_include.tt');$output .= '
';$context->include('master_templates/master.tmpl',{'app_key'=>'manage_mysql_profiles','header'=>$stash->get(['locale',0,'maketext',['Manage Database Profiles' ]]),'breadcrumburl'=>$stash->get('PAGE_BASE'),'base'=>$stash->get('PAGE_BASE'),'stylesheets'=>$stash->get('stylesheets'),'theme'=>'bootstrap','content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});