Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Check/includes/EximConfig.UnableToInstallCritical.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
<p>
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['This configuration update is critical. However, the system was not able to install a functional [asis,Exim] configuration due to custom settings.' ]]);$output .= '
</p>
 ';$output .= $context->process('Check/includes/EximConfig.ConfigAttached.html.tmpl');$output .= '
<p>
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['In order to complete this configuration update, remove the custom settings and then manually merge your configuration with the new configuration settings.' ]]);$output .= '
</p>

';$output .= $context->process('Check/includes/EximConfig.UpdateSteps.html.tmpl');$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});