Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Check/includes/EximConfig.ResetHeader.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system was unable to automatically merge your existing [asis,Exim] configuration with the new settings in version “[_1]” because your configuration contains incompatible custom settings or broken settings.',$stash->get(['NOTICE',0,'cpanel_version',0])]]);$output .= '
</p>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});