Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Check/includes/MysqlConnection.reset_pass_failed.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('Check/includes/MysqlConnection._unable_to_auth_error.html.tmpl');$output .= '
<p>
';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The error reported by the reset attempt was: [_1]',$stash->get(['code_inline',[{'term'=>$stash->get(['NOTICE',0,'reset_error',0])}]])]]);$output .= '
</p>
<p>
';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system was unable to automatically reconnect to the [asis,MySQL] server.' ]]);$output .= '
</p>
<p>
';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['You must manually update the password in “[_1]” in order to restore normal operations.',$stash->get(['NOTICE',0,'root_my_cnf',0])]]);$output .= '
</p>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});