Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Check/includes/MysqlConnection.reset_pass_successful.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('Check/includes/MysqlConnection._unable_to_auth_error.html.tmpl');$output .= '
<p>
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system automatically reset the [asis,MySQL]/[asis,MariaDB] root password in order to restore normal operations.' ]]);$output .= '
</p>
<p>';if ($stash->get(['NOTICE',0,'dbpassword',0])){$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system restored the password to the password in “[_1]”.',$stash->get(['NOTICE',0,'root_my_cnf',0])]])}else {$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system reset the password to a random string because there was no password in “[_1]”.',$stash->get(['NOTICE',0,'root_my_cnf',0])]])}$output .= '</p>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});