Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Check/includes/UnmonitoredEnabledServices.subject.text.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('include/icons.tmpl');$output .= $stash->get(['get_icon',[{'icon'=>'warn' }]]).' ';if ($stash->get(['NOTICE',0,'services',0,'size',0])eq 1){$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The server does not currently monitor the “[_1]” service.',$stash->get(['NOTICE',0,'services',0,0,0,'display_name',0])]])}else {$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The server has [quant,_1,unmonitored service,unmonitored services].',$stash->get(['NOTICE',0,'services',0,'size',0])]])}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});