Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/base/unprotected/cpanel/templates/external_auth_header.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('ExternalAuthentication',$context->plugin('ExternalAuthentication'));$stash->set('external_auth_modules',$stash->get('https')&&!$stash->get('link_account')? $stash->get(['ExternalAuthentication',0,'get_enabled_and_configured_openid_provider_display_configurations',0]): [])}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});