Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Check/Oops.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_block.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['Kernel problem detected.' ]]));$output .= '

<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['IMPORTANT: Do not ignore this email. Your kernel had an [asis,Oops]! This is the result of bad hardware or a kernel bug.' ]]);$output .= '
</p>
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['A kernel [asis,oops] is a [asis,Linux] kernel problem severe enough that it may impact system stability. Your system may continue to function as normal, however this can cause some subsystems or resources to become unavailable, which can later lead to a full kernel panic. We recommend that you contact your datacenter or hardware manufacturer to check your [output,abbr,RAM,Random Access Memory] and provide further assistance.' ]]);$output .= '
</p>
<p>
    http://www.memtest86.com/
</p>
<p>
    ';$output .= $stash->get(['code_block',[{'formatted_code'=>$stash->get(['NOTICE',0,'log_preview',0,0,0]),'title'=>$stash->get(['CPANEL',0,'locale',0,'maketext',['[asis,Oops] log preview:' ]])}]]);$output .= '
</p>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});