Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Check/UnmonitoredEnabledServices.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/zebra_table.tmpl');$output .= '


';$output .= do {my$output='';if ($stash->get(['NOTICE',0,'services',0,'size',0])eq 1){$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The server does not currently monitor the “[_1]” service.',$stash->get(['NOTICE',0,'services',0,0,0,'display_name',0])]]))}else {$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The server has [quant,_1,unmonitored service,unmonitored services].',$stash->get(['NOTICE',0,'services',0,'size',0])]]))}$output .= $context->process('Check/includes/UnmonitoredEnabledServices.body.html.tmpl');$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});