Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/chkservd/Notify.subject.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('include/icons.tmpl');$output .= do {my$output='';my$_tt_filter=$context->filter('upper')|| $context->throw($context->error);$output .= $stash->get(['NOTICE',0,'service_status',0]);&$_tt_filter($output)};$output .= ' ';$output .= $stash->get(['get_icon',[{'icon'=>$stash->get(['NOTICE',0,'service_status',0])}]]);$output .= ': ';$output .= $stash->get(['NOTICE',0,'service_name',0]);$output .= ' (';$output .= $stash->get(['NOTICE',0,'mainip',0]);$output .= ')
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});