Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Accounts/ChildDedistributionFailure.subject.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= $context->process('include/icons.tmpl');$output .= $stash->get(['get_icon',[{'icon'=>'failed' }]]).' ' .$stash->get(['CPANEL',0,'locale',0,'maketext',['Failure: The Server Failed to Transfer Offloaded “[_1]” Functionality for the User “[_2]”.',$stash->get(['NOTICE',0,'worker_type',0]),$stash->get(['NOTICE',0,'user',0])]])}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});