Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Accounts/DigestAuthResetNeeded.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The domain name change was successful (“[_1]” is now “[_2]”).',$stash->get(['NOTICE',0,'old_domain',0]),$stash->get(['NOTICE',0,'new_domain',0])]]));$output .= '

<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Because the domain name has changed, the system disabled [_1] for the [numerate,_2,user,users] [list_and_quoted,_3].',$stash->get(['CPANEL',0,'locale',0,'maketext',['Digest Authentication' ]]),$stash->get(['NOTICE',0,'digest_disabled_users',0,'size',0]),$stash->get(['NOTICE',0,'digest_disabled_users',0])]]);$output .= '
</p>

<p>
';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['You may re-enable [_1] for them through [asis,WHM]’s [_2] interface at: [output,url,_3,_3,target,_4]',$stash->get(['CPANEL',0,'locale',0,'maketext',['Digest Authentication' ]]),$stash->get(['CPANEL',0,'locale',0,'maketext',['Password Modification' ]]),$stash->get(['CPANEL',0,'assemble_whm_url',['scripts/passwdlist' ]]),'_blank' ]]);$output .= '
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Use the “[_1]” page in [asis,cPanel] to re-enable [_2].',$stash->get(['CPANEL',0,'locale',0,'maketext',['Web Disk Accounts' ]]),$stash->get(['CPANEL',0,'locale',0,'maketext',['Digest Authentication' ]])]]);$output .= '
</p>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});