Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Accounts/includes/DigestAuthResetNeeded.body.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Since the domain name has changed, you must notify your [_1] users that their login has changed.',$stash->get(['CPANEL',0,'locale',0,'maketext',['Web Disk' ]])]]);$output .= '
</p>
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system has disabled [_1] for the [numerate,_2,user,users] [list_and_quoted,_3]',$stash->get(['CPANEL',0,'locale',0,'maketext',['Digest Authentication' ]]),$stash->get(['NOTICE',0,'digest_disabled_users',0,'size',0]),$stash->get(['NOTICE',0,'digest_disabled_users',0])]]);$output .= '
</p>
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Use the [_1] interface in [asis,cPanel] to re-enable [_2].',$stash->get(['CPANEL',0,'locale',0,'maketext',['Web Disk Accounts' ]]),$stash->get(['CPANEL',0,'locale',0,'maketext',['Digest Authentication' ]])]]);$output .= '
</p>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});