Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Quota/MailboxWarning.subject.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if ($stash->get(['NOTICE',0,'status',0])eq 'full'){$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['WARNING: The “[_1]” email account is full.',$stash->get(['NOTICE',0,'box',0])]])}elsif ($stash->get(['NOTICE',0,'status',0])eq 'critical'){$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['WARNING: The “[_1]” email account is nearly full.',$stash->get(['NOTICE',0,'box',0])]])}else {$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['WARNING: The “[_1]” email account is almost full.',$stash->get(['NOTICE',0,'box',0])]])}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});