Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Application/base.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/zebra_table.tmpl');$output .= $context->process('include/code_block.tmpl');do {my$_tt_result=$stash->get(['NOTICE',0,'level',0]);my$_tt_match;SWITCH: {$_tt_match='error';$_tt_match=[$_tt_match ]unless ref$_tt_match eq 'ARRAY';if (grep(/^\Q$_tt_result\E$/,@$_tt_match)){$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['“[_1]” failed because of an error.',$stash->get(['NOTICE',0,'application_name',0])]]));last SWITCH}$_tt_match='warn';$_tt_match=[$_tt_match ]unless ref$_tt_match eq 'ARRAY';if (grep(/^\Q$_tt_result\E$/,@$_tt_match)){$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['“[_1]” produced a warning.',$stash->get(['NOTICE',0,'application_name',0])]]));last SWITCH}}};$output .= do {my$output='';$output .= '

';$output .= $stash->get(['code_block',[{'formatted_code'=>$stash->get(['NOTICE',0,'message',0,'html',0])}]]);$context->include('wrapper/main.html.tmpl',{'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});