Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/warnings/_quota_notice_for_virtuozzo.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$stash->set('Whostmgr',$context->plugin('Whostmgr'));if ($stash->get(['Whostmgr',0,'template_vars',0,'envtype',0])eq 'virtuozzo' || $stash->get(['Whostmgr',0,'template_vars',0,'envtype',0])eq 'vzcontainer'){$output .= '
<style type="text/css">
html[dir=rtl] .callout-info {
    border-left-color: transparent;
    border-right-color: #2980b9;
}
.callout-info {
    background-color: #d7edf9;
    border-left-color: #2980b9;
}
</style>
    <div class="callout callout-info">
        Your system uses Virtuozzo containers. For disk quotas to work, your hosting provider may need to enable quotas on the host node. More information is
        available in our <a target="_blank" href="https://go.cpanel.net/vzquotas">documentation</a>.
    </div>'}$output .= '

'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});