Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/killacct/PostTerminateCleanup.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_block.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['Results of post-terminate cleanup for “[_1]” on “[_2]”',$stash->get(['NOTICE',0,'uid_gid',0]),$stash->get(['NOTICE',0,'host_server',0])]]));$stash->set('log_content',$stash->get(['NOTICE',0,'log_preview',0,'shift',0]));$output .= '

';$output .= $stash->get(['code_block',[{'formatted_code'=>$stash->get('log_content'),'title'=>$stash->get(['CPANEL',0,'locale',0,'maketext',['Review the attached Post Termination Log for further details.' ]])}]]);$output .= '

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});