Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/StuckScript/Notify.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_inline.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['A script is stuck.' ]]));$output .= '

<p>';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['A script failed to complete within the allowed amount of time. If you encounter any errors during this process, submit a ticket with the following information to [output,url,_1,_2,target,_3]','https://go.cpanel.net/support',$stash->get(['CPANEL',0,'locale',0,'maketext',['[asis,cPanel] Support' ]]),'_blank' ]]);$output .= '
</p>
<table>
    <tbody>
        <tr>
            <th align="right">';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['[output,abbr,PID,process ID]' ]]);$output .= ':</th>
            <td align="left" > ';$output .= $stash->get(['NOTICE',0,'pid',0]);$output .= ' </td>
        </tr>
        <tr>
            <th align="right">';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['File Name' ]]);$output .= ':</th>
            <td align="left"> ';$output .= $stash->get(['NOTICE',0,'file_name',0]);$output .= ' </td>
        </tr>
        <tr>
            <th align="right"> ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Command Line Path' ]]);$output .= ':</th>
            <td align="left"> ';$output .= $stash->get(['NOTICE',0,'command_line_path',0]);$output .= ' </td>
        </tr>
        <tr>
            <th align="right"> ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Cutoff Time' ]]);$output .= ':</th>
            <td align="left"> ';$output .= $stash->get(['NOTICE',0,'duration',0]);$output .= ' </td>
        </tr>
        ';if ($stash->get(['NOTICE',0,'lsof',0])){$output .= '
        <tr>
            <td colspan="2">';$output .= $stash->get(['code_inline',[{'term'=>$stash->get(['NOTICE',0,'lsof',0])}]]);$output .= '</td>
        </tr>
        '}$output .= '
    </tbody>
</table>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});