Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/yumupdate/index.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('PAGE_BASE','/scripts7/YumUpdate/');$output .= do {my$output='';$output .= '
<section>
    <div class="row">
        <div class="col-xs-12">
            <cp-alert-list></cp-alert-list>
            <div ng-view></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var PAGE = PAGE || {};

    PAGE.NAME =  "yumupdate";

</script>
';$output .= $context->process('master_templates/cjt2_header_include.tt');$output .= '
';$context->include('master_templates/master.tmpl',{'app_key'=>'system_update','header'=>$stash->get(['locale',0,'maketext',['System Update' ]]),'breadcrumburl'=>'/scripts7/YumUpdate','base'=>$stash->get('PAGE_BASE'),'stylesheets'=>[$stash->get(['Whostmgr',0,'find_file_url',['/templates/yumupdate/index.min.css' ]])],'theme'=>'bootstrap','CJT2_EXCLUSIVE'=>1,'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});