Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/master_templates/cjt2_header_include.tt',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('JSON',$context->plugin('JSON'));$stash->set('is_proxy',($stash->get(['Whostmgr',0,'ENV',0,'HTTP_PROXIED',0])eq 'proxy')? 1 : 0);$stash->set('app_name','whostmgr');$stash->set('path',$stash->get(['Whostmgr',0,'get_base_filename',0]));$stash->set('parts',$stash->get(['path',0,'split',['/' ]]));$stash->set('file',$stash->get(['parts',0,'pop',0]));$stash->set('app','/templates/' .$stash->get(['parts',0,'join',['/' ]]));$stash->set('requirejs_url_base','');$output .= '

';$output .= $context->process('libraries/cjt2/cjt2_header_include.tt');$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});