Template::Document->new({METADATA=>{'modtime'=>'1729093562','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/menu/Database_Services.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('EasyApache',$context->plugin('EasyApache'));$stash->set('VarCache',$context->plugin('VarCache'));$stash->set('ServerRoles',$context->plugin('ServerRoles'));$stash->set('Services',$context->plugin('Services'));$stash->set('CPOS',$context->plugin('CPOS'));$output .= '
';$output .= '';$cVC::S{'checkacl_all'}=$stash->get(['Whostmgr',0,'checkacl',['all' ]]);$output .= '
';$output .= '';$cVC::S{'dnsonly'}=$stash->get(['Whostmgr',0,'dnsonly',0]);$output .= '

                <div id="iconSea" class="panel-body icon-container-body">
';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Change Database Root Password' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/mysqlrootpass" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/mysql_root_password.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Change Database User Password' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/passwdmysqllist" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/change_mysql_user_password.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&& ($stash->get(['Whostmgr',0,'check_flag',['postgres_enabled' ]]))&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['postgresql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Configure PostgreSQL' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/resetpostgres" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/configure_postgresql.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& ($stash->get(['Services',0,'is_service_provided',['mysql' ]])|| $stash->get(['Services',0,'is_service_provided',['postgresql' ]]))){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Database Map Tool' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/dbmapuserlist" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/database_map_tool.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Edit Database Configuration' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts7/wh-sql-config" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/wh_sql_config.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Database Access Hosts' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/mysqladdonhosts" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/additional_mysql_access_hosts.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['MySQL' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Database Profiles' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/mysqlhostconfig" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_mysql_profiles.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& ($stash->get(['Services',0,'is_service_provided',['mysql' ]])|| $stash->get(['Services',0,'is_service_provided',['postgresql' ]]))){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Database Users' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/manage_database_users" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_database_users.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& ($stash->get(['Services',0,'is_service_provided',['mysql' ]])|| $stash->get(['Services',0,'is_service_provided',['postgresql' ]]))){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Databases' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/manage_databases" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_databases.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['phpMyAdmin' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/3rdparty/phpMyAdmin/index.php" target="_blank" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/phpMyAdmin.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Repair Databases' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/repairmysqllist" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/repair_a_mysql_database.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['Services',0,'is_service_provided',['mysql' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Show Database Processes' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/mysqlcpu" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/show_mysql_processes.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&& $stash->get(['ServerRoles',0,'is_role_enabled',['MySQL' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Upgrade Database Version' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/mysqlupgrade" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/mysql_mariadb_upgrade.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '
</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','app_key'=>'sql_services','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});