Template::Document->new({METADATA=>{'modtime'=>'1729093562','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/menu/Networking_Setup.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('EasyApache',$context->plugin('EasyApache'));$stash->set('VarCache',$context->plugin('VarCache'));$stash->set('ServerRoles',$context->plugin('ServerRoles'));$stash->set('Services',$context->plugin('Services'));$stash->set('CPOS',$context->plugin('CPOS'));$output .= '
';$output .= '';$cVC::S{'checkacl_all'}=$stash->get(['Whostmgr',0,'checkacl',['all' ]]);$output .= '
';$output .= '';$cVC::S{'dnsonly'}=$stash->get(['Whostmgr',0,'dnsonly',0]);$output .= '

                <div id="iconSea" class="panel-body icon-container-body">
';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Change Hostname' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/changehostname" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/change_hostname.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Resolver Configuration' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/setupresolvconf" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/resolver_configuration.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '
</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','app_key'=>'networking_setup','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});