Template::Document->new({METADATA=>{'modtime'=>'1729093562','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/menu/Security_Center.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('EasyApache',$context->plugin('EasyApache'));$stash->set('VarCache',$context->plugin('VarCache'));$stash->set('ServerRoles',$context->plugin('ServerRoles'));$stash->set('Services',$context->plugin('Services'));$stash->set('CPOS',$context->plugin('CPOS'));$output .= '
';$output .= '';$cVC::S{'checkacl_all'}=$stash->get(['Whostmgr',0,'checkacl',['all' ]]);$output .= '
';$output .= '';$cVC::S{'dnsonly'}=$stash->get(['Whostmgr',0,'dnsonly',0]);$output .= '

                <div id="iconSea" class="panel-body icon-container-body">
';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['WebServer' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['[asis,Apache] [asis,mod_userdir] Tweak' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/tweakmoduserdir" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/apache_mod_userdir_tweak.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['MailSend' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['[asis,SMTP] Restrictions' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/smtpmailgidonly" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/smtp_restrictions.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['FileStorage' ]])&& $stash->get(['Whostmgr',0,'has_multiuser',0])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Compiler Access' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/tweakcompilers" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/compiler_access.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Configure Security Policies' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/securitypolicy_configure" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/configure_security_policies.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['cPHulk Brute Force Protection' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts7/cphulk" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/cphulk_brute_force_protection.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Host Access Control' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/cgi/hostaccess.cgi" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/host_access_control.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($stash->get(['Whostmgr',0,'checkacl',['manage-oidc' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage External Authentications' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/manage_external_auth" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_external_authentication.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage root’s SSH Keys' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/sshkeys" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_roots_ssh_keys.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['CPOS',0,'check_eq',['sudoers','sudo' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Sudo Group Users' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/modwheel?sudo=1" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_wheel_group_users.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['CPOS',0,'check_eq',['sudoers','wheel' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage Wheel Group Users' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/modwheel" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_wheel_group_users.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['WebServer' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['ModSecurity™ Configuration' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/config_mod_security" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/modsecurity_configuration.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['WebServer' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['ModSecurity™ Tools' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/show_mod_security" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/modsecurity_tools.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['WebServer' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['ModSecurity™ Vendors' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/manage_mod_security_vendors" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/modsecurity_vendors.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Password Strength Configuration' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/minpwstrength" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/password_strength_configuration.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Security Advisor' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/cgi/securityadvisor/index.cgi" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/ico-security-advisor.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Security Questions' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/edit_sourceipcheck" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/security_questions.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&& ($stash->get(['Whostmgr',0,'check_flag',['NOT_CLOUDLINUX' ]]))&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['FileStorage' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Shell Fork Bomb Protection' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/modlimits" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/shell_fork_bomb_protection.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['SSH Password Authorization Tweak' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/tweaksshauth" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/ssh_password_authorization_tweak.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['FileStorage' ]])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Traceroute Enable/Disable' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts/settrace" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/traceroute_enable_disable.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($stash->get(['Whostmgr',0,'checkacl',['create-acct' ]])|| $cVC::S{'checkacl_all'})){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Two-Factor Authentication' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts7/twofactorauth" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/two_factor_authentication.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '
</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','app_key'=>'security_center','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});