Template::Document->new({METADATA=>{'modtime'=>'1729093562','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/menu/SSL_TLS.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('EasyApache',$context->plugin('EasyApache'));$stash->set('VarCache',$context->plugin('VarCache'));$stash->set('ServerRoles',$context->plugin('ServerRoles'));$stash->set('Services',$context->plugin('Services'));$stash->set('CPOS',$context->plugin('CPOS'));$output .= '
';$output .= '';$cVC::S{'checkacl_all'}=$stash->get(['Whostmgr',0,'checkacl',['all' ]]);$output .= '
';$output .= '';$cVC::S{'dnsonly'}=$stash->get(['Whostmgr',0,'dnsonly',0]);$output .= '

                <div id="iconSea" class="panel-body icon-container-body">
';if (($cVC::S{'checkacl_all'}|| $stash->get(['Whostmgr',0,'checkacl',['ssl' ]])|| $stash->get(['Whostmgr',0,'checkacl',['ssl-gencrt' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Generate an SSL Certificate and Signing Request' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/gencrthtml" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/generate_an_ssl_certificate_and_signing_request.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'}|| $stash->get(['Whostmgr',0,'checkacl',['ssl' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Install an SSL Certificate on a Domain' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/installssl" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/install_an_ssl_certificate_on_a_domain.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage AutoSSL' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts12/autossl" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_autossl.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'}|| $stash->get(['Whostmgr',0,'checkacl',['ssl' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Manage SSL Hosts' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/listsslhosts" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/manage_ssl_hosts.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'}|| $stash->get(['Whostmgr',0,'checkacl',['ssl' ]])|| $stash->get(['Whostmgr',0,'checkacl',['ssl-buy' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Purchase and Install an SSL Certificate' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/selectbuyssl" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/purchase_and_install_an_ssl_certificate.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($stash->get(['Whostmgr',0,'checkacl',['ssl-info' ]]))&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['SSL Storage Manager' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/sslmanager" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/ssl_storage_manager.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['SSL/TLS Configuration' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts7/ssl-tls-configuration" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/ssl_tls_configuration.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '
</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','app_key'=>'ssl_tls','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});