Template::Document->new({METADATA=>{'modtime'=>'1729093562','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/menu/Transfers.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('EasyApache',$context->plugin('EasyApache'));$stash->set('VarCache',$context->plugin('VarCache'));$stash->set('ServerRoles',$context->plugin('ServerRoles'));$stash->set('Services',$context->plugin('Services'));$stash->set('CPOS',$context->plugin('CPOS'));$output .= '
';$output .= '';$cVC::S{'checkacl_all'}=$stash->get(['Whostmgr',0,'checkacl',['all' ]]);$output .= '
';$output .= '';$cVC::S{'dnsonly'}=$stash->get(['Whostmgr',0,'dnsonly',0]);$output .= '

                <div id="iconSea" class="panel-body icon-container-body">
';if (($stash->get(['Whostmgr',0,'checkacl',['rearrange-accts' ]])|| $cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}&& $stash->get(['ServerRoles',0,'is_role_enabled',['WebServer' ]])&& $stash->get(['Whostmgr',0,'has_multiuser',0])){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Convert Addon Domain to Account' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts7/convert_addon_to_account" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/convert_addon_domain_to_account.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Review Transfers and Restores' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/showacctacttlogs" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/review_transfers_and_restores.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Transfer or Restore a cPanel Account' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/transfer-cpanel-account" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/transfer_cpanel_account.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '

';if (($cVC::S{'checkacl_all'})&&!$cVC::S{'dnsonly'}){$output .= '    ';$output .= '';$cVC::S{'locale_str'}=$stash->get(['locale',0,'makevar',['Transfer Tool' ]]);$output .= '<div class="item" data-page-type="feature">
        <a class="item-link" href="';$output .= $stash->get('cp_security_token');$output .= '/scripts5/account_copy_input" target="" title=\'';$output .= $cVC::S{'locale_str'};$output .= '\'>
            <img class="itemImageWrapper" src="';$output .= $stash->get(['Whostmgr',0,'get_icon_url',['icons/transfer_tool.svg' ]]);$output .= '" alt="';$output .= $cVC::S{'locale_str'};$output .= '" />
            <span class="itemTextWrapper">';$output .= $cVC::S{'locale_str'};$output .= '</span>
        </a>
    </div>
'}$output .= '
</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','app_key'=>'transfers','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});