Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/base/frontend/jupiter/tools/views/applicationListHeader.html.tt',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Master',$context->plugin('Master'));$output .= '
<!-- We want to load the appGroups as soon as possible so that
     the sea of icons can start rendering as soon as possible -->
<script type="text/javascript">
    PAGE.collapsedGroups = ';$output .= Cpanel::JSON::SafeDump($cVC::S{'collapsed_groups'});$output .= ';
    PAGE.appGroups = ';$output .= Cpanel::JSON::SafeDump($cVC::S{'available_applications'}->{'groups'});$output .= ';
</script>


'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});