Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/DnsAdmin/UnreachablePeer.subject.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if ($stash->get(['NOTICE',0,'down_hosts',0,'size',0])> 1){$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Unreachable DNS Cluster Members.' ]])}else {$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Unreachable DNS Cluster Member “[_1]”.',$stash->get(['NOTICE',0,'down_hosts',0,0,0])]])}$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});