Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/base/frontend/jupiter/shared/templates/_ajaxapp_header.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
<link rel="stylesheet" type="text/css" href="';$output .= $stash->get(['MagicRevision',['/cjt/css/ajaxapp-min.css' ]]);$output .= '" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="';$output .= $stash->get(['MagicRevision',['/cjt/css/ajaxapp_ie6.css' ]]);$output .= '" />
<![endif]-->

';$stash->set('ie_version',$stash->get(['CPANEL',0,'ua_is_ie',0]));if ($stash->get('ie_version')eq 9){$output .= '<div style="display:none; behavior:url(';$output .= $stash->get(['MagicRevision',['/cjt/ie9gradients.htc' ]]);$output .= ')"></div>

';$stash->set('SVGGradient',$context->plugin('SVGGradient'));$output .= '<style type="text/css">
.cjt-notice .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=\'false\') !important;
    background-size: 100% 100%;
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'stops'=>['#dddddd',['#cbcbcb','15%' ],'#999999' ]}]]);$output .= ');
}

.cjt-notice.cjt-notice-closable:hover .bd {
    background-color: white;
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'start'=>'bottom','stops'=>['#dddddd',['#cbcbcb','15%' ],'#999999' ]}]]);$output .= ');
}

div.cjt-notice-success .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=\'false\') !important;
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'stops'=>['#c7dda2',['#a8cb70','15%' ],'#81a449' ]}]]);$output .= ');
    min-height: 20px;
    background-size: 100% 100%;
}
.cjt-notice-success.cjt-notice-closable:hover .bd {
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'start'=>'bottom','stops'=>['#c7dda2',['#a8cb70','15%' ],'#81a449' ]}]]);$output .= ');
}

div.cjt-notice-info .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=\'false\') !important;
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'stops'=>['#b3cdef',['#91b2e2','15%' ],'#6d8cc1' ]}]]);$output .= ');
    min-height: 20px;
    background-size: 100% 100%;
}
.cjt-notice-info.cjt-notice-closable:hover .bd {
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'start'=>'bottom','stops'=>['#b3cdef',['#91b2e2','15%' ],'#6d8cc1' ]}]]);$output .= ');
}

div.cjt-notice-warn .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=\'false\') !important;
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'stops'=>['#fde5a8',['#fcda73','15%' ],'#f9c51a' ]}]]);$output .= ');
    min-height: 20px;
    background-size: 100% 100%;
}
.cjt-notice_warn.cjt-notice-closable:hover .bd {
    background-image: url(';$output .= $stash->get(['SVGGradient',0,'linear',[{'start'=>'bottom','stops'=>['#fde5a8',['#fcda73','15%' ],'#f9c51a' ]}]]);$output .= ');
}
</style>
'}elsif ($stash->get('ie_version')&& $stash->get('ie_version')< 9){$output .= '<style type="text/css">
.cjt-dynamicnotice .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#dddddd\', endColorstr=\'#999999\');
    zoom: 1;  /* IE 6/7 */
}
.cjt-dynamicnotice-container .cjt-notice-closable .bd:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr=\'#dddddd\', startColorstr=\'#999999\');
}

.cjt-dynamicnotice-container .cjt-notice-success .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#c7dda2\', endColorstr=\'#81a449\');
}
.cjt-dynamicnotice-container div.cjt-notice-closable.cjt-notice-success:hover .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#81a449\', endColorstr=\'#c7dda2\');
}

.cjt-dynamicnotice-container .cjt-notice-warn .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#fde5a8\', endColorstr=\'#f9c51a\');
}
.cjt-dynamicnotice-container div.cjt-notice-warn.cjt-notice-closable:hover .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr=\'#fde5a8\', startColorstr=\'#f9c51a\');
}

.cjt-dynamicnotice-container .cjt-notice-info .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\'#b3cdef\', endColorstr=\'#6d8cc1\');
}
.cjt-dynamicnotice-container div.cjt-notice-info.cjt-notice-closable:hover .bd {
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr=\'#b3cdef\', startColorstr=\'#6d8cc1\');
}

</style>
'}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});