Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/cpanel_plugin_manager/index.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$output .= do {my$output='';$output .= '

<div ng-controller="applicationController">
    <div id="content"
         class="ng-cloak"
         ng-view
         ng-cloak></div>
</div>

<script type="text/javascript">
    var PAGE = PAGE || {};

    PAGE.pluginList = ';$output .= $stash->get(['data',0,'plugin_tarballs',0,'json',0]);$output .= ';
    PAGE.groups = ';$output .= $stash->get(['data',0,'groups',0,'json',0]);$output .= ';
    PAGE.itemIds = ';$output .= $stash->get(['data',0,'item_ids',0,'json',0]);$output .= ';
</script>

';$output .= $context->process('master_templates/cjt2_header_include.tt');$output .= '
';$context->include('master_templates/master.tmpl',{'app_key'=>'cpanel_plugin_file_generator','header'=>$stash->get(['locale',0,'maketext',['[asis,cPanel] Plugin File Generator' ]]),'breadcrumburl'=>'/scripts/cpanel_plugin_generator','base'=>'/scripts/cpanel_plugin_generator/','stylesheets'=>[$stash->get(['Whostmgr',0,'find_file_url',['/templates/cpanel_plugin_manager/index.min.css' ]]),$stash->get(['Whostmgr',0,'find_file_url',['templates/cPanel/customization.min.css' ]])],'theme'=>'bootstrap','CJT2_EXCLUSIVE'=>1,'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});