Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/base/unprotected/cpanel/templates/access_denied.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '    <h2>';$output .= $stash->get(['uri',0,'html',0]);$output .= '</h2>
    <p>';$output .= $stash->get(['locale',0,'maketext',['You do not have permission to access this page.' ]]);$output .= '</p>
    ';if ($stash->get('page_message')){$output .= '
      <blockquote>';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['locale',0,'makevar',[$stash->get('page_message')]]);&$_tt_filter($output)};$output .= '</blockquote>
    '}$output .= '

';$context->include('templates/_error_wrapper',{'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});