Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/base/unprotected/cpanel/templates/fourohfour.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '    <p>';$output .= $stash->get(['locale',0,'maketext',['The requested page was not found.' ]]);$output .= '</p>
    <h2>';$output .= $stash->get(['locale',0,'maketext',['Possible reasons why you are seeing this page:' ]]);$output .= '</h2>
    <ul>
        <li>';$output .= $stash->get(['locale',0,'maketext',['A bookmarked URL may have changed since you last visited.' ]]);$output .= '</li>
        <li>';$output .= $stash->get(['locale',0,'maketext',['The URL was entered incorrectly.' ]]);$output .= '</li>
        <li>';$output .= $stash->get(['locale',0,'maketext',['The URL was entered with inaccurate capitalization (URLs are [output,url,_1,case sensitive]).','http://wikipedia.org/wiki/Case_sensitivity' ]]);$output .= '</li>
    </ul>
    <p>';$output .= $stash->get(['locale',0,'maketext',['Please re-check the URL you are trying to reach. ([output,url,_1,Go Back])','javascript:history.back()' ]]);$output .= '</p>
';$context->include('templates/_error_wrapper',{'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});