Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/file_and_directory_restoration/index.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('JSON',$context->plugin('JSON'));$stash->set('stylesheet_includes',[$stash->get(['Whostmgr',0,'find_file_url',['/templates/file_and_directory_restoration/index.css' ]])]);if ($stash->get(['locale',0,'get_html_dir_attr',0])eq 'rtl'){$output .= $stash->get(['stylesheet_includes',0,'unshift',[$stash->get(['Whostmgr',0,'find_file_url',['/styles/bootstrap_rtl_offsets.min.css' ]])]])}$stash->set('PAGE_BASE','/scripts5/file_and_directory_restoration/');$output .= do {my$output='';$output .= '

<script type="text/javascript">
window.loggedInUser="';$output .= $stash->get('whm_user');$output .= '";
</script>
<script type="text/ng-template" id="file_and_directory_restoration/views/backup_restore.ptt">
';$output .= $context->process('file_and_directory_restoration/views/backup_restore.ptt');$output .= '
</script>

<div class="body-content">
    <cp-alert-list alert-group="\'whm-restoration\'"></cp-alert-list>
    <div ng-controller="applicationController">
        <div id="viewContent" class="ng-cloak" ng-view ng-cloak></div>
    </div>
</div>


';$output .= $context->process('master_templates/cjt2_header_include.tt');$output .= '
';$context->include('master_templates/master.tmpl',{'header'=>$stash->get(['locale',0,'maketext',['File and Directory Restoration' ]]),'breadcrumburl'=>$stash->get('PAGE_BASE'),'base'=>$stash->get('PAGE_BASE'),'stylesheets'=>$stash->get('stylesheet_includes'),'CJT2_EXCLUSIVE'=>1,'theme'=>'bootstrap','app_key'=>'file_and_directory_restoration','content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});