Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Backup/Delayed.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/system_info_views.html.tmpl');$output .= $context->process('include/system_info_table.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The backup process was delayed for over [quant,_1,hour,hours] waiting on statistics processing',8 ]]));$output .= '

<p>';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The backups on “[_1]” have been waiting for statistics processing to complete for over [quant,_2,hour,hours], which indicates that the server is too overloaded to complete processing in a timely manner.',$stash->get(['NOTICE',0,'host_server',0]),8 ]]);$output .= '</p>

<p>
';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['To determine which processes use the most memory and processor time, use [asis,WHM]’s [_1] interface at: [output,url,_2,_2,target,_3]',$stash->get(['CPANEL',0,'locale',0,'maketext',['Process Manager' ]]),$stash->get(['CPANEL',0,'assemble_whm_url',['scripts2/top' ]]),'_blank' ]]);$output .= '
</p>

<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The server’s current health statistics are:' ]]);$output .= '
</p>
<p>
';$output .= $stash->get('system_info_table');$output .= '

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});