Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/etc/icontact_templates/Backup/Disabled.html.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['Backup Transport Disabled.' ]]));$output .= '

<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['One of the methods that the system uses to transfer a backup is disabled:' ]]);$output .= '
</p>
<p>
    <table style="padding: 10px 0 10px 0;">
        <tbody>
            <tr>
                <th align="right">
                    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Name:' ]]);$output .= '
                </th>
                <td align="left">
                    ';$output .= $stash->get(['NOTICE',0,'name',0]);$output .= '
                </td>
            </tr>
            <tr>
                <th align="right">
                    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Type:' ]]);$output .= '
                </th>
                <td align="left">
                    ';$output .= $stash->get(['NOTICE',0,'type',0]);$output .= '
                </td>
            </tr>
            <tr>
                <th align="right">
                    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Remote Host:' ]]);$output .= '
                </th>
                <td align="left">
                    ';$output .= $stash->get(['NOTICE',0,'remote_host',0]);$output .= '
                </td>
            </tr>
            <tr>
                <th align="right">
                    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['Reason:' ]]);$output .= '
                </th>
                <td align="left">
                    ';$output .= $stash->get(['NOTICE',0,'reason',0]);$output .= '
                </td>
            </tr>
        </tbody>
    </table>
</p>
<p>
    ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['To manage your backup transports and to fix this issue, use [asis,WHM]’s [_1] interface at: [output,url,_2,_2,target,_3]',$stash->get(['CPANEL',0,'locale',0,'maketext',['Backup Configuration' ]]),$stash->get(['CPANEL',0,'assemble_whm_url',['scripts/backupconfig' ]]),'_blank' ]]);$output .= '
</p>

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});