Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/etc/icontact_templates/Backup/Success.html.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$output .= $context->process('include/colors.tmpl');$output .= $context->process('include/styles.tmpl');$output .= $context->process('include/code_block.tmpl');$output .= $context->process('include/run_time_info.tmpl');$output .= do {my$output='';$stash->set(['NOTICE',0,'email_reason',0],$stash->get(['CPANEL',0,'locale',0,'maketext',['The backup process on “[_1]” completed.',$stash->get(['NOTICE',0,'host_server',0])]]));$output .= '

';if ($stash->get(['NOTICE',0,'transport_started',0])){$output .= '
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['The system started a separate transport process for remote backup destinations.' ]]);$output .= '
  ';$output .= $stash->get(['CPANEL',0,'locale',0,'maketext',['When the transport completes, the system will send an additional notification with the status of the transport if any errors were encountered.' ]]);$output .= '
'}$output .= '

';if ($stash->get(['NOTICE',0,'log_preview',0])&& $stash->get(['NOTICE',0,'log_file_path',0])){$output .= '
    <p>';$output .= $context->process('include/code_block.tmpl');$output .= $stash->get(['code_block',[{'formatted_code'=>$stash->get(['NOTICE',0,'log_preview',0,'shift',0]),'title'=>$stash->get(['CPANEL',0,'locale',0,'maketext',['Review the attached log “[_1]” for further details.',$stash->get(['NOTICE',0,'log_file_path',0])]])}]]);$output .= '    </p>
'}$output .= '

';$output .= $stash->get('run_time_info');$output .= '

';$context->include('wrapper/main.html.tmpl',{'content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});