Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/base/frontend/jupiter/_assets/charset.html.tt','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<meta http-equiv="Content-Type" content="text/html; charset=';$output .= $stash->get(['execute',['Locale','get_attributes',{}],'data',0,'encoding',0]);$output .= '" />
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});