Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/base/frontend/jupiter/_assets/why_strong_passwords.html.tt','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<div id="why_strong_passwords_text" style="display: none">
    <p>';$output .= $stash->get(['locale',0,'maketext',['A strong password is very important to maintain security. Web servers are usually more powerful and have access to greater bandwidth than your personal computer, which makes them a prime target for [output,url,_1,password crackers,target,_blank].','https://go.cpanel.net/password_cracking' ]]);$output .= '

    <p>';$output .= $stash->get(['locale',0,'maketext',['We [output,strong,strongly recommend] using the built-in password generator to create your password.' ]]);$output .= '</p>
</div>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});