Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/zone_editor/views/dnssec_sidebar_help.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<div class="col-xs-12 col-sm-4 col-md-3">
    <section class="widget">
        <h3 class="widget-title">';$output .= $stash->get(['locale',0,'maketext',['Need Help?' ]]);$output .= '</h3>
        <ul>
            <li>
                <a href="https://go.cpanel.net/whmdocsDNSZoneManager"
                    title="';$output .= $stash->get(['locale',0,'maketext',['Need help? Click here to read more about [asis,DNSSEC].' ]]);$output .= '"
                    target="dnssec_documentation">
                    <i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>
                    ';$output .= $stash->get(['locale',0,'maketext',['About This Interface' ]]);$output .= '
                </a>
            </li>
            <li>
                <a href="https://go.cpanel.net/whoismyregistrar"
                    target="whoismyregistrar">
                    <i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>
                    ';$output .= $stash->get(['locale',0,'maketext',['Who is My Registrar?' ]]);$output .= '
                </a>
            </li>
            <li>
                <a href="https://go.cpanel.net/rotatednsseckey"
                    target="rotatednsseckey">
                    <i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>
                    ';$output .= $stash->get(['locale',0,'maketext',['How to Rotate a [asis,DNSSEC] Key' ]]);$output .= '
                </a>
            </li>
        </ul>
    </section>
</div>

'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});