Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/_display_exim_conf.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<script type="text/javascript">
SyntaxHighlighter.config.tagName = "div";
SyntaxHighlighter.defaults[\'toolbar\'] = false;
SyntaxHighlighter.all();
</script>

<style>
    #broken_cfg_html { width: 80%; }
    #broken_cfg_html .syntaxhighlighter { height: 200px; border: 2px solid #000; }
</style>

';$output .= $stash->get(['data',0,'exim_conf_html',0]);$output .= '

<br />
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});