Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/_dnsroles.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('roles',[{'value'=>'standalone','label'=>$stash->get(['locale',0,'maketext',['Standalone' ]])},{'value'=>'sync','label'=>$stash->get(['locale',0,'maketext',['Synchronize Changes' ]])},{'value'=>'write-only','label'=>$stash->get(['locale',0,'maketext',['Write-only' ]])}]);$output .= '
';$stash->set('my_dnsrole',$stash->get('dnsrole')|| $stash->get(['roles',0,0,0,'value',0]));$output .= '
';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get('roles');unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'role'}=$_tt_value;$output .= '    <option value="';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['role',0,'value',0]);&$_tt_filter($output)};$output .= '" ';if ($stash->get('my_dnsrole')eq $stash->get(['role',0,'value',0])){$output .= 'selected="selected"'}$output .= '>';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['role',0,'label',0]);&$_tt_filter($output)};$output .= '</option>
';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});