Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/_local_template_warning_message.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
    ';if ($stash->get(['data',0,'local_templates',0])&& $stash->get(['data',0,'local_templates',0,'size',0])){$output .= '
      <div class="alert alert-warning">
          <span class="glyphicon glyphicon-info-sign"></span>
          <div class="alert-message">
            <p>';$output .= $stash->get(['locale',0,'maketext',['This system has the following [asis,Apache] override [numerate,_1,template,templates] installed:',$stash->get(['data',0,'local_templates',0])]]);$output .= '</p>
            <p>
                <ul>
                    ';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'local_templates',0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'path'}=$_tt_value;$output .= '
                        <li>';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get('path');&$_tt_filter($output)};$output .= '</li>
                    ';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '                </ul>
            </p>
            <p>';$output .= $stash->get(['locale',0,'maketext',['You [output,strong,must] keep any installed override templates up-to-date with upstream changes to [asis,cPanel]’s template files. Read the [output,url,_1,release notes,_2,_3] before you update to each new major version of [asis,cPanel amp() WHM].','https://go.cpanel.net/releasenotes','target','_blank' ]]);$output .= '</p>
            <p>';$output .= $stash->get(['locale',0,'maketext',['[asis,cPanel] strongly recommends that you use the “[comment,Include Editor][output,url,_1,_2]” instead of override templates whenever possible.','../scripts2/editinclude',$stash->get(['locale',0,'maketext',['Include Editor' ]])]]);$output .= '</p>
          </div>
      </div>
    '}$output .= '

'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});