Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/_raw_log_warnings.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if ($stash->get(['CPANEL',0,'CPCONF',0,'dumplogs',0])){$output .= '
   <div class="row">
      <div class="alert alert-warning alert-message">
          <div class="help-block">
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    ';$output .= $stash->get(['locale',0,'maketext',['[output,strong,Warning]: The “[_1]” option is enabled in “[_2]”.','Delete each domain’s access logs after statistics are gathered',$stash->get(['locale',0,'maketext',['Tweak Settings' ]])]]);$output .= '
                    ';$output .= $stash->get(['locale',0,'maketext',['When this option is enabled, raw logs may only contain a few hours‘ worth of data because the system discards processed access data.' ]]);$output .= '
                </p>
          </div>
      </div>
   </div>
'}elsif (!$stash->get(['CPANEL',0,'CPCONF',0,'keeplogs',0])){$output .= '
   <div class="row">
      <div class="alert alert-warning alert-message">
          <div class="help-block">
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    ';$output .= $stash->get(['locale',0,'maketext',['[output,strong,Warning]: The “[_1]” option is disabled in “[_2]”.','Keep log files at the end of the month',$stash->get(['locale',0,'maketext',['Tweak Settings' ]])]]);$output .= '
                    ';$output .= $stash->get(['locale',0,'maketext',['When this option is disabled, the system empties raw log files at the beginning of each month.' ]]);$output .= '
                </p>
          </div>
      </div>
   </div>
'}$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});