Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/addcpuserdns.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';if (!$stash->get(['data',0,'valid_domain',0])){$output .= 'Sorry, that\'s an invalid domain.
'}elsif (!$stash->get(['data',0,'access',0])){$output .= 'Access denied to that account or domain.
'}elsif (!$stash->get(['data',0,'user_exists',0])){$output .= 'User does not exist on system.
'}else {$output .= '<pre>
';$output .= $stash->get(['data',0,'output',0]);$output .= '</pre>
Added ';$output .= $stash->get(['data',0,'pdomain',0]);$output .= ' to ';$output .= $stash->get(['data',0,'user',0]);$output .= '&rsquo;s cPanel config.
'}$context->include('master_templates/master.tmpl',{'theme'=>'yui','breadcrumburl'=>'/scripts2/listparked','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});