Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/brickstart.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('brickalign',$stash->get('brickalign'));$output .= '
';$stash->set('brickpercent',$stash->get('brickpercent')|| '100%');$output .= '
';$stash->set('brickpadding',$stash->get('brickpadding')|| 5);$output .= '
<table
    align="';$output .= $stash->get('brickalign');$output .= '"
    ';if ($stash->get('brickpercent')ne 'auto'){$output .= ' width="';$output .= $stash->get('brickpercent');$output .= '" '}$output .= '
    ';if ($stash->get('bootstrap')){$output .= 'class="table table-striped"
    '}else {$output .= 'class="datatable brick"'}$output .= '
    ';if ($stash->get('brickclass')){$output .= 'class="';$output .= $stash->get('brickclass');$output .= '"'}$output .= '
    ';if ($stash->get('brickid')){$output .= 'id="';$output .= $stash->get('brickid');$output .= '"'}$output .= '
    border="0"
    cellpadding="';$output .= $stash->get('brickpadding');$output .= '"
    cellspacing="0"
>
<thead>
<tr><th align="left" colspan="100">';$output .= $stash->get('bricktitle');$output .= '</th></tr>
</thead>
<tbody>
';if (!($stash->get('norow'))){$output .= '<tr><td align="left" class="cell">
'}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});