Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/changeowner.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('CPList',$context->plugin('CPList'));$output .= do {my$output='';$output .= '<h3>Changing ownership for ';$output .= $stash->get(['data',0,'domain',0]);$output .= ' (';$output .= $stash->get(['data',0,'account',0]);$output .= ')</h3>

   <table class="tablecomplex2">
   <tr>
   <td colspan="4" background="';$output .= $stash->get(['Whostmgr',0,'getbggif',0]);$output .= '"  class="cellheader"><div>
   <b>Change Ownership</b></font></div></td>
   </tr>
   <tr><td>
   <form action="';$output .= $stash->get('cp_security_token');$output .= '/scripts/dochangeowner">
   <input type="hidden" name="user" value="';$output .= $stash->get(['data',0,'account',0]);$output .= '" />
   <select name="owner">
';$output .= '
';$stash->set('sorted_resellers',['root' ]);$stash->set('sorted_resellers',$stash->get(['sorted_resellers',0,'merge',[$stash->get(['data',0,'resellerdomains',0,'keys',0,'ungrep',['^root$' ],'sort',0])]]));$output .= '
';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get('sorted_resellers');unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'reseller'}=$_tt_value;$output .= '
';if ($stash->get('reseller')eq $stash->get(['data',0,'current_owner',0])){$output .= '
<option value=\'';$output .= $stash->get('reseller');$output .= '\' \'selected="selected"\'>';$output .= $stash->get('reseller');$output .= ' (';$output .= $stash->get(['data',0,'resellerdomains',0,$stash->get('reseller'),0]);$output .= ') [current owner]</option>
'}else {$output .= '
<option value=\'';$output .= $stash->get('reseller');$output .= '\'>';$output .= $stash->get('reseller');$output .= ' (';$output .= $stash->get(['data',0,'resellerdomains',0,$stash->get('reseller'),0]);$output .= ')</option>
'}$output .= '
';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '

</select><input type="submit" class="btn-primary" value="ok">
</td>
</tr>
</form>
</table>
';$context->include('master_templates/master.tmpl',{'theme'=>'yui','breadcrumburl'=>'/scripts/ownerlist','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});