Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/choose_3rdparty_locale.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '
<link rel="stylesheet" type="text/css" href="/yui/container/assets/container.css" /><script type="text/javascript" src="/yui/utilities/utilities.js"></script><script type="text/javascript" src="/yui/container/container.js"></script>
<script type="text/javascript" src="/js/popupbox.js"></script>
<style type="text/css">
        .info_box {
            background-color:#FFFFCC;
            border:1px solid #666666;
            margin-left:20px;
            padding:5px;
            width:500px;
        }
        .info_box_transparent {
            font-weight: bold;
            border:1px solid #666666;
            margin-left:20px;
            padding:5px;            width:500px;
        }
</style>

<p>';$output .= $stash->get(['locale',0,'maketext',['cPanel provided statistics software supports a variety of languages. This software does not have a direct mapping from a locale to a language. Default values are set based upon the closest mapping. However, this mapping may sometimes be inaccurate depending upon your customer’s region or needs. This screen allows you to specify the language of the statistics software associated with each locale setting.' ]]);$output .= '</p>
<p>';$output .= $stash->get(['locale',0,'maketext',['For example, you can associate the cPanel language option for ‘de’ with the Webalizer option ‘german’. This will allow users to view Webalizer statistics software in “german”.' ]]);$output .= '</p>

<form action="';$output .= $stash->get('cp_security_token');$output .= '/scripts9/save_choose_3rdparty_locale" method="post">

<table class="datatable indent">';$output .= '
   <tr>
      <th>&nbsp;';$output .= $stash->get(['locale',0,'maketext',['Provider' ]]);$output .= '&nbsp;</th><th>&nbsp;';$output .= $stash->get(['locale',0,'maketext',['Locale Name' ]]);$output .= '&nbsp;</th><th>&nbsp;';$output .= $stash->get(['locale',0,'maketext',['Locale Code' ]]);$output .= '&nbsp;</th>
      ';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'application_names',0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'appname'}=$_tt_value;$output .= '
      <th>&nbsp;';$output .= $stash->get('appname');$output .= '&nbsp;</th>
      ';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '
';$stash->set('rowcount',0);$output .= ' ';$output .= '
';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'locale_menu',0,1,0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'tag'}=$_tt_value;$output .= '
    ';$stash->set('rowcount',$stash->get('rowcount')+ 1);$output .= '
    <tr class="';$output .= $stash->get('rowcount')% 2 ? 'tdshade1' : 'tdshade2';$output .= '">
       ';if ($stash->get(['data',0,'cpanel_provided',0,'exists',[$stash->get('tag')]])){$output .= '
           <td title="The locale \'';$output .= $stash->get('tag');$output .= '\' is included as part of cPanel/WHM.">&nbsp;<img src="';$output .= $stash->get(['MagicRevision',['/images/cpanel.png' ]]);$output .= '"/>&nbsp;</td>
       '}else {$output .= '
           <td title="The locale \'';$output .= $stash->get('tag');$output .= '\' is not included as part of cPanel/WHM.">&nbsp;<img src="';$output .= $stash->get(['MagicRevision',['/images/3rdparty.png' ]]);$output .= '"/>&nbsp;</td>
       '}$output .= '
       <td ';if ($stash->get(['data',0,'locale_menu',0,2,0,'exists',[$stash->get('tag')]])){$output .= ' dir="';$output .= $stash->get(['data',0,'locale_menu',0,2,0,$stash->get('tag'),0]);$output .= '"'}$output .= '>&nbsp;';$output .= $stash->get(['data',0,'locale_menu',0,0,0,$stash->get('tag'),0]);$output .= '&nbsp;</td>
       <td>&nbsp;';$output .= $stash->get('tag');$output .= '&nbsp;</td>
       ';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'applications',0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR2: while (!$_tt_error){$stash->{'app'}=$_tt_value;$output .= '
       <td>
       ';$stash->set('param_name',$stash->get('app').'-' .$stash->get('tag'));$output .= '
       <select name="';$output .= $stash->get('param_name');$output .= '">';$stash->set('setting',$stash->get(['data',0,'formref',0,$stash->get('param_name'),0])|| $stash->get(['data',0,'get_app_setting',[$stash->get('tag'),$stash->get('app')]])|| $stash->get(['data',0,'get_3rdparty_lang',[$stash->get('tag'),$stash->get('app')]])|| $stash->get(['data',0,'get_3rdparty_lang',['en',$stash->get('app')]]));$output .= '           ';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'get_app_options',[$stash->get('app')]]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR3: while (!$_tt_error){$stash->{'app_val'}=$_tt_value;$output .= '
           <option ';$output .= $stash->get(['setting',0,'length',0])eq $stash->get(['app_val',0,'length',0])&& $stash->get(['setting',0,'match',[$stash->get('app_val')]])? 'selected="selected" ' : '';$output .= 'value="';$output .= $stash->get('app_val');$output .= '">';$output .= $stash->get('app_val');$output .= '</option>
           ';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '
       </select>
       </td>
       ';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '

    </tr>
';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '

</table>
<p><input type="submit" class="btn-primary" value="';$output .= $stash->get(['locale',0,'maketext',['Save' ]]);$output .= '"/></p>
</form>
<p><em>';$output .= $stash->get(['locale',0,'maketext',['Comments' ]]);$output .= ':</em>
    <ul>
        <li>';$output .= $stash->get(['locale',0,'maketext',['Changes made for statistics software will not be reflected until the next statistics update.' ]]);$output .= '</li>
        <li>If a locale seems to be missing you may need to <a href="javascript:display_quickpopupbox(\'Compiling locale databases\',\'<iframe height=90% width=100% src=';$output .= $stash->get('cp_security_token');$output .= '/cgi/build_locale_databases.pl />\')">rebuild the locale databases</a> in order to bring it into the system.</li>
    </ul>
</p>
';$context->include('master_templates/master.tmpl',{'theme'=>'yui','app_key'=>'configure_application_locales','content',$output })};$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});