Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/confirmservice.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<div>
    <table>
        <tr>
            <td colspan="2">Are you sure you wish to restart this service?</td>
        </tr>
        <tr>
            <td colspan="2"><br /></td>
        </tr>
        <tr>
            <td>
                <form action="';$output .= $stash->get('cp_security_token');$output .= '/scripts/';$output .= $stash->get(['data',0,'prog',0]);$output .= '">
                    <input type="hidden" name="confirm" value="1">
                    <input type="submit" value="Restart" class="btn-primary">
                </form>
            </td>
        </tr>
    </table>
</div>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});