Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/deliver_mail_queue.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('action','Delivering');$output .= '
';$stash->set('actionmsg','Delivering All Messages in Queue');$output .= '
';$stash->set('uri','../json-api/deliver_mail_queue');$output .= '
';$output .= $context->process('_exim_comet_command.tmpl');$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});