Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/demoacct.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';if ($stash->get(['data',0,'has_cpuser',0])){$output .= '<form action="';$output .= $stash->get('cp_security_token');$output .= '/scripts/dodemoacct">
<input type="hidden" name="user" value="';$output .= $stash->get(['data',0,'user',0]);$output .= '" />
Demo mode is currently <b>';$output .= $stash->get(['data',0,'demo',0])? 'enabled' : 'disabled';$output .= '</b> on ';$output .= $stash->get(['data',0,'xdomain',0]);$output .= ' (';$output .= $stash->get(['data',0,'user',0]);$output .= ')
<input type="submit" class="btn-primary" name="act" value="';$output .= $stash->get(['data',0,'demo',0])? 'Disable' : 'Enable';$output .= '" />
'}else {$output .= '<p>User <em>';$output .= $stash->get(['data',0,'user',0]);$output .= '</em> is not recognized.</p>
'}$context->include('master_templates/master.tmpl',{'theme'=>'yui','app_key'=>'manage_demo_mode','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});