Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/doaddaforhost.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
';$stash->set('Encoder',$context->plugin('Encoder'));$output .= '

';if ($stash->get(['data',0,'status',0])){$output .= '
<div class="okmsg">
'}else {$output .= '
<div class="errormsg">
'}$output .= '

';$output .= $stash->get(['Encoder',0,'safe_html_encode_str',[$stash->get(['data',0,'statusmsg',0])]]);$output .= '
</div>

'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});