Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/doclonetheme.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';if ($stash->get(['data',0,'invalid_app',0])){$output .= 'Invalid App.
'}else {$output .= 'Cloning of
<img src=\'/images/';$output .= $stash->get(['data',0,'app',0,'image',0]);$output .= '\' align=\'absmiddle\' /> theme: ';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'theme',0]);&$_tt_filter($output)};$output .= '
<img src=\'/images/arrowto.gif\' align=\'absmiddle\' /> ';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'newtheme',0]);&$_tt_filter($output)};$output .= '<br />
Result:
<pre>
';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'copy_output',0]);&$_tt_filter($output)};$output .= '</pre>
<pre>
';$output .= do {my$output='';my$_tt_filter=$context->filter('html')|| $context->throw($context->error);$output .= $stash->get(['data',0,'update_output',0]);&$_tt_filter($output)};$output .= '</pre>
<b>Complete!</b>
'}$output .= $context->process('_returnlink.tmpl',{'url'=>($stash->get('cp_security_token').'/scripts/thememanager?app=' .$stash->get(['data',0,'themetype',0]))});$context->include('master_templates/master.tmpl',{'theme'=>'yui','breadcrumburl'=>'/scripts/thememanager_landing','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});