Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/dodelegatemainip.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$output .= do {my$output='';if ($stash->get(['data',0,'result',0])){$output .= '<h3 class="simpleheading">Shared (IP-less) IP for ';$output .= $stash->get(['data',0,'user',0]);$output .= ' is now ';$output .= $stash->get(['data',0,'ip',0]);$output .= '.</h3>
'}else {$output .= '<h3 class="simpleheading">Failed to set shared (IP-less) IP for ';$output .= $stash->get(['data',0,'user',0]);$output .= ': ';$output .= $stash->get(['data',0,'msg',0]);$output .= '</h3>
'}$context->include('master_templates/master.tmpl',{'theme'=>'yui','breadcrumburl'=>'/scripts2/delegatemainip','app_key'=>'manage_resellers_shared_ip','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});