Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/doeditremoteipslist.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '
<div style="margin:0 20px;">
';if ($stash->get(['data',0,'invalid_input',0])){$output .= '<p id="invalid-input-error">Invalid input. Submitted values were not saved.</p>
'}else {$output .= '<div id="mail-ip-save-confirmation-text">
';if ($stash->get(['data',0,'written',0,'remotemail',0])){$output .= '<p><b>Saved remote mail server IP list:</b></p>
    <ul>';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'iplists',0,'remotemail',0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'ip'}=$_tt_value;$output .= '<li>';$output .= $stash->get('ip');$output .= '</li>';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '</ul>
'}elsif ($stash->get(['data',0,'written',0,'remotemail',0,'empty',0])){$output .= '<p><b>The mail server IP list is empty.</b></p>
'}else {$output .= '<p>Mail server IPs were unable to be saved.</p>
'}$output .= '</div>

<div id="nameserver-ip-save-confirmation-text">
';if ($stash->get(['data',0,'written',0,'remotedns',0])){$output .= '<p><b>Saved remote name server IP list:</b></p>
    <ul>';do {my ($_tt_value,$_tt_error,$_tt_oldloop);my$_tt_list=$stash->get(['data',0,'iplists',0,'remotedns',0]);unless (UNIVERSAL::isa($_tt_list,'Template::Iterator')){$_tt_list=Template::Config->iterator($_tt_list)|| die$Template::Config::ERROR,"\n"}($_tt_value,$_tt_error)=$_tt_list->get_first();eval {$_tt_oldloop=$stash->get('loop')};$stash->set('loop',$_tt_list);eval {FOR1: while (!$_tt_error){$stash->{'ip'}=$_tt_value;$output .= '<li>';$output .= $stash->get('ip');$output .= '</li>';;($_tt_value,$_tt_error)=$_tt_list->get_next()}};$stash->set('loop',$_tt_oldloop);die $@ if $@;$_tt_error=0 if$_tt_error && $_tt_error eq Template::Constants::STATUS_DONE;die$_tt_error if$_tt_error};$output .= '</ul>
'}elsif ($stash->get(['data',0,'written',0,'remotedns',0,'empty',0])){$output .= '<p><b>The name server IP list is empty.</b></p>
'}else {$output .= '<p>Name server IPs were unable to be saved.</p>
'}$output .= '</div>

'}$output .= '</div>
';$context->include('master_templates/master.tmpl',{'theme'=>'yui','breadcrumburl'=>'/scripts6/editremoteipslist','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});