Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/eula.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Whostmgr',$context->plugin('Whostmgr'));$stash->set('breadcrumbdata',{'previous'=>[{'name'=>'Home','url'=>'/scripts/command?PFILE=main' }],'name'=>'EULA','url'=>'/scripts10/eula' });$stash->set('stylesheets',$stash->get(['CPANEL',0,'is_debug_mode_enabled',0])? [$stash->get(['Whostmgr',0,'find_file_url',['/templates/eula.css' ]])]: [$stash->get(['Whostmgr',0,'find_file_url',['/templates/eula.min.css' ]])]);$output .= do {my$output='';$output .= '

<div id="agreement">
    <section>';$output .= $stash->get(['data',0,'eula',0]);$output .= '</section>
</div>
';$context->include('master_templates/master.tmpl',{'skipheader'=>1,'theme'=>'bootstrap','extrastyle'=>'ol { list-style: none }','stylesheets'=>$stash->get('stylesheets'),'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});