Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/killacct_additional_options.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<tr><td colspan="3"><label><input type="checkbox" name="keepdns" value="1" /> Keep Dns Zone (needed if you have moved a domain between servers in the same dns trust relationship, and wish to remove the old domain)</label></td></tr>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});