Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/noaentry.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '   <form action="';$output .= $stash->get('cp_security_token');$output .= '/scripts2/addaforhost">
   The server was unable to lookup an an A entry for its hostname (';$output .= $stash->get(['data',0,'hostname',0]);$output .= ').
   This is generally because the entry was never added.   However this could also be the result of
   your nameserver(s) being down.   If you would like to attempt to automatically add the entry, <input type="submit" class="btn-primary" value="Click Here">.
   </form>
';$context->include('master_templates/master.tmpl',{'theme'=>'yui','header'=>$stash->get(['locale',0,'maketext',['Hostname [asis,A] Entry Missing' ]]),'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});