Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/notify_displayeximconfforedit_service_restart.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '
<script type="text/javascript">
function notify_service_restart() {
    if (parent && (parent !== window) && parent.notify_service_restart)  {
        parent.notify_service_restart(\'';$output .= $stash->get('tabid');$output .= '\', ';$output .= $stash->get('timeout');$output .= ');
    }
}
notify_service_restart(\'';$output .= $stash->get('tabid');$output .= '\', ';$output .= $stash->get('timeout');$output .= ');
</script>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});