Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/park.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Encoder',$context->plugin('Encoder'));$output .= '
';$stash->set('content',do {my$output='';$output .= '
  ';if (!$stash->get(['data',0,'domain',0])){$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-warning">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['You must provide the domain on which to park (alias) the new domain.' ]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif (!$stash->get(['data',0,'ndomain',0])){$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-warning">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['You must provide the domain to park (alias).' ]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif (!$stash->get(['data',0,'can_park',0])){$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-danger">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['Access denied.' ]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif ($stash->get(['data',0,'non_root_non_owner',0])){$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-danger">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['Access denied.' ]]);$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['You do not own the domain “[_1]”.',$stash->get(['data',0,'domain',0,'cpanel_safe_html_encode_str',0])]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif ($stash->get(['data',0,'invalid_owner',0])){$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-danger">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['The domain owner for the domain “[_1]” does not exist.',$stash->get(['data',0,'domain',0,'cpanel_safe_html_encode_str',0])]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif ($stash->get(['data',0,'no_reseller_server_subdomain',0])){$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-danger">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['Resellers do not have the necessary permissions to create subdomains of the server’s main domain.' ]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}elsif (!$stash->get(['data',0,'result',0])){$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-danger">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['There was a problem parking (aliasing) the domain “[_1]” on top of the domain “[_2]”: [_3]',$stash->get(['data',0,'ndomain',0,'cpanel_safe_html_encode_str',0]),$stash->get(['data',0,'domain',0,'cpanel_safe_html_encode_str',0]),$stash->get(['data',0,'reason',0,'cpanel_safe_html_encode_str',0])]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}else {$output .= '    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '<div class="callout callout-info">'}$output .= '
      ';$output .= $stash->get(['locale',0,'maketext',['The system successfully parked (aliased) the domain “[_1]” on top of the domain “[_2]”.',$stash->get(['data',0,'ndomain',0,'cpanel_safe_html_encode_str',0]),$stash->get(['data',0,'domain',0,'cpanel_safe_html_encode_str',0])]]);$output .= '
    ';if (!$stash->get(['data',0,'nohtml',0])){$output .= '</div>'}$output .= '
  '}$output});$output .= '

';if ($stash->get(['data',0,'nohtml',0])){$output .= $stash->get('content')}else {$output .= do {my$output='';$output .= $stash->get('content');$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','breadcrumburl'=>'/scripts/prepark','content',$output })}}$output .= '
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});