Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/rebuildhttpdconf.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('Encoder',$context->plugin('Encoder'));$output .= '
';$output .= do {my$output='';$output .= '

';if ($stash->get(['data',0,'rebuild',0])){$output .= '
<h2>';$output .= $stash->get(['locale',0,'maketext',['Rebuilding [asis,httpd.conf] …' ]]);$output .= '</h2>
<pre>
';$output .= $stash->get(['Encoder',0,'safe_html_encode_str',[$stash->get(['data',0,'rebuild',0])]]);$output .= '
</pre>
'}$output .= '

';if ($stash->get(['data',0,'restart',0])){$output .= '
<h2>';$output .= $stash->get(['locale',0,'maketext',['Restarting [asis,Apache] ([_1]) …',$stash->get(['data',0,'force',0])? 'hard' : 'soft' ]]);$output .= '</h2>
<pre>
';$output .= $stash->get(['Encoder',0,'safe_html_encode_str',[$stash->get(['data',0,'restart',0])]]);$output .= '
</pre>
'}$output .= '

<p>';$output .= $stash->get(['locale',0,'maketext',['Done!' ]]);$output .= '</p>
';$context->include('master_templates/master.tmpl',{'theme'=>'bootstrap','header'=>$stash->get(['locale',0,'maketext',['Rebuilding [asis,Apache] Configuration' ]]),'breadcrumburl'=>$stash->get(['data',0,'breadcrumb_uri',0]),'content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});