Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/savedomainfwd.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= do {my$output='';$output .= '
';if ($stash->get(['data',0,'error',0])){$output .= '
Could not write to /var/cpanel/domainmap : ';$output .= $stash->get(['data',0,'error',0]);$output .= '<br />
'}else {$output .= '
<h3>Domain map saved.</h3>
'}$output .= '
';$context->include('master_templates/master.tmpl',{'theme'=>'yui','header'=>$stash->get(['locale',0,'maketext',['Setup/Edit Domain Forwarding' ]]),'breadcrumburl'=>'/scripts/domainfwd','content',$output })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});