Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/selscript.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<script>
   function selectd() {
      for(var i=0;i<document.fmain.user.options.length;i++) {
         if (document.fmain.domain.options[i].value == document.fmain.user.options[document.fmain.user.selectedIndex].value) {
            document.fmain.domain.selectedIndex=i;
         }
      }
   }
   function selectu() {
      for(var i=0;i<document.fmain.domain.options.length;i++) {
         if (document.fmain.user.options[i].value ==
         document.fmain.domain.options[document.fmain.domain.selectedIndex].value) {
            document.fmain.user.selectedIndex=i;
         }
      }
   }

</script>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});