Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/service_ftpserver.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$output .= '<div class="table-responsive">
  <table role="table" class="table table-bordered table-condensed table-striped sortable" id="ftpserverconfig" width="80%" style="text-align:center;">
    <tr>
        <th style="width: 120px">';$output .= $stash->get(['locale',0,'maketext',['[asis,FTP] Server' ]]);$output .= '</th>
        <th>';$output .= $stash->get(['locale',0,'maketext',['Advantages' ]]);$output .= '</th>
        <th>';$output .= $stash->get(['locale',0,'maketext',['Disadvantages' ]]);$output .= '</th>
        <th>';$output .= $stash->get(['locale',0,'maketext',['Notes' ]]);$output .= '</th>
    </tr>
    <tr>
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_proftpd" value="proftpd" ';if ($stash->get(['data',0,'ftpserver',0])eq 'ProFTPD'){$output .= 'checked'}$output .= '>
            <label for="ftpserver_proftpd">';$output .= $stash->get(['locale',0,'maketext',['[asis,ProFTPD]' ]]);$output .= '</label>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Allows use of ”[_1]” files for per-directory access controls.','.ftpaccess' ]]);$output .= '
                </li>
                ';if ($stash->get(['data',0,'supports_hostaccess',0])){$output .= '
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Supports [asis,TCPwrappers] based access controls.' ]]);$output .= '
                </li>
                '}$output .= '
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Highly configurable.' ]]);$output .= '
                </li>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Uses more memory.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Login notifications are not available.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Brute force protection is not available.' ]]);$output .= '
                </li>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['This is recommended only if you require additional configuration flexibility.' ]]);$output .= '
                </li>
           </ul>
        </td>
    </tr>
    <tr bgcolor="#f3f3f3">
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_pure_ftpd" value="pure-ftpd" ';if ($stash->get(['data',0,'ftpserver',0])eq 'Pure-FTPd'){$output .= 'checked'}$output .= '>
            <label for="ftpserver_pure_ftpd">';$output .= $stash->get(['locale',0,'maketext',['[asis,Pure-FTPd]' ]]);$output .= '</label>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Faster login time.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Uses less memory.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Better security model.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Allows virtual user quotas.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Better compatibility with software [asis,RAID] systems.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Support for brute force protection.' ]]);$output .= '
                </li>
           </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Ideal for memory-constrained systems.' ]]);$output .= '
                </li>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Does not support TLS 1.0.' ]]);$output .= '
                </li>
           </ul>
        </td>


    </tr>
    <tr>
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_disabled" value="disabled" ';if ($stash->get(['data',0,'ftpserver',0])eq 'Disabled'){$output .= 'checked'}$output .= '>
            <label for="ftpserver_disabled">';$output .= $stash->get(['locale',0,'maketext',['Disabled' ]]);$output .= '</label>
        </td>
        <td style="text-align:left;" valign="top">&nbsp;</td>
        <td style="text-align:left;" valign="top">&nbsp;</td>
        <td style="text-align:left;" valign="top">
      <ul>
                <li>
                    ';$output .= $stash->get(['locale',0,'maketext',['Default on [asis,cPanel] systems.' ]]);$output .= '
                </li>
                <li>
          ';$output .= $stash->get(['locale',0,'maketext',['This option will disable the local [asis,FTP] server.' ]]);$output .= '
          </li>
      </ul>

          </td>
    </tr>
  </table>
</div>
'}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});