Template::Document->new({METADATA=>{'name'=>'/usr/local/cpanel/whostmgr/docroot/templates/suspendreseller.tmpl','modtime'=>'1728930269',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {$stash->set('breadcrumburl','/scripts2/statres');if (!$stash->get(['data',0,'reseller',0])){$output .= $context->process('master_templates/_defheader.tmpl',{'theme'=>'yui' });$output .= '<b>No reseller provided.</b>
';$output .= $context->process('master_templates/_deffooter.tmpl',{'theme'=>'yui' })}else {$output .= $context->process('master_templates/_defheader.tmpl',{'theme'=>'yui' });$output .= '<h3 class="simpleheading">';$output .= $stash->get(['data',0,'un',0])? 'Unsuspend' : 'Suspend';$output .= ' accounts for ';$output .= $stash->get(['data',0,'reseller',0]);$output .= '</h3>
<pre>
';$output .= $stash->get(['print_from_handle',[$stash->get(['data',0,'filehandle',0])]]);$output .= '</pre>
<br />
<h3>Complete!</h3>
';$output .= $context->process('master_templates/_deffooter.tmpl',{'theme'=>'yui' })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});