Template::Document->new({METADATA=>{'modtime'=>'1728930269','name'=>'/usr/local/cpanel/whostmgr/docroot/templates/unpark.tmpl',},BLOCK=>sub {my$context=shift || die "template sub called without context\n";my$stash=$context->stash;my$output='';my$_tt_error;eval {BLOCK: {if (!$stash->get(['data',0,'noheader',0])){$output .= $context->process('master_templates/_defheader.tmpl',{'theme'=>'yui','header'=>$stash->get(['locale',0,'maketext',['Unpark a Domain' ]]),'breadcrumburl'=>'/scripts2/listparked' })}if (!$stash->get(['data',0,'accountexists',0])){$output .= 'Unable to find out which user owns the parked domain ';$output .= $stash->get(['data',0,'pdomain',0]);$output .= '.
'}elsif (!$stash->get(['data',0,'hasaccess',0])){$output .= 'Access denied. You don\'t seem to have access to that user.
'}elsif (!$stash->get(['data',0,'result',0])){$output .= '<p class="errors">There was a problem unparking ';$output .= $stash->get(['data',0,'pdomain',0]);$output .= ' from ';$output .= $stash->get(['data',0,'maindomain',0]);$output .= ':
                <a href="#" onClick="document.getElementById(\'details\').style.display=\'block\'; return false;">Show Details</a> </p>
                <div class="details" id="details">
                ';$output .= $stash->get(['data',0,'error',0]);$output .= '                </div>
'}else {$output .= $stash->get(['data',0,'pdomain',0]);$output .= ' was successfully unparked from ';$output .= $stash->get(['data',0,'maindomain',0]);$output .= '.
'}if (!$stash->get(['data',0,'noheader',0])){$output .= $context->process('master_templates/_deffooter.tmpl',{'theme'=>'yui' })}}};if ($@){$_tt_error=$context->catch($@,\$output);die$_tt_error unless$_tt_error->type eq 'return'}return$output},DEFBLOCKS=>{},});